
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Baguio Golf View Apartment and Transient</title>

    <!-- Font Awesome Icons -->
    <link href="~/lib/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/lib/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/dist/css/AdminLTE.min.css">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/lib/css/creative.min.css" rel="stylesheet">

    <!-- Full Calendar -->
    <link rel="stylesheet" href="~/assets/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/assets/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/assets/bower_components/bootstrap-daterangepicker/daterangepicker.css">

    <!-- Sweet alert2 -->
    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        .page-section {
            padding: 2rem 0 !important;
        }
    </style>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/lib/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/lib/js/creative.min.js"></script>

    <!-- jQuery 3 -->
    <script src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/assets/dist/js/demo.js"></script>
    <!-- fullCalendar -->
    <script src="~/assets/bower_components/moment/moment.js"></script>
    <script src="~/assets/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

    <!-- Sweet alert2 -->
    <script src="~/assets/js/sweetalert2.min.js"></script>

</head>

<body>

    @RenderBody()

</body>

</html>

<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright &copy; @DateTime.Now.Year - Baguio Golf View Apartment and Transient</div>
    </div>
</footer>

