<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">About Us</h2>
            <hr class="divider light my-4">
            <p class="text-white mb-4">Baguio Golf View Apartment and Transient is located at Munoz Drive, KM 4 Asin Road Baguio City. You can go to the beautiful parks downtown within a span of 10-15 minutes depending on the flow of traffic. Staying with us will make you feel at home as we have a complete furniture and kitchen utensils. We also have a hot and cold shower and a strong wifi connection. The only thing you have to bring is your personal things. The best thing in staying at the Baguio Golf View Apartment and Transient is that it is affordable and minutes ride to Asin Hot Spring and BenCab Museum and you can stop and shop along the way for woodcarving souvenir. The highlight of this Transient is the relaxing view of the Pinewoods Golf and Country Club.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#portfolio">Get Started!</a>
        </div>
    </div>
</div>