<div class="container">
    <h2 class="text-center mt-0">Reservation</h2>
    <hr class="divider my-4">

    <!-- THE CALENDAR -->
    <div class="btnUpdate" id="calendar"></div>

</div>
<!-- /.content-wrapper -->
<!-- Page specific script -->
<script>
        $(function () {

            /* initialize the external events
             -----------------------------------------------------------------*/
            function init_events(ele) {
                ele.each(function () {

                    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            init_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ' '
                },
                buttonText: {
                    today: 'today',
                },


                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject')

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject)

                    // assign it the date that was reported
                    copiedEventObject.start = date
                    copiedEventObject.allDay = allDay
                    copiedEventObject.backgroundColor = $(this).css('background-color')
                    copiedEventObject.borderColor = $(this).css('border-color')

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove()
                    }

                }
            })

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            //Color chooser button
            var colorChooser = $('#color-chooser-btn')
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                //Save color
                currColor = $(this).css('color')
                //Add color effect to button
                $('#add-new-event').css({ 'background-color': currColor, 'border-color': currColor })
            })
            $('#add-new-event').click(function (e) {
                e.preventDefault()
                //Get value and make sure it is not null
                var val = $('#new-event').val()
                if (val.length == 0) {
                    return
                }

                //Create events
                var event = $('<div />')
                event.css({
                    'background-color': currColor,
                    'border-color': currColor,
                    'color': '#fff'
                }).addClass('external-event')
                event.html(val)
                $('#external-events').prepend(event)

                //Add draggable funtionality
                init_events(event)

                //Remove event from text input
                $('#new-event').val('')
            })

            $("#calendar").on("click", ".fc-past", function () {
                //alert("Error!");
                var date = $(this).attr("data-date");
                //alert(date);
                Swal.fire({
                    type: 'error',
                    title: 'Error!',
                    text: 'This date is not available.',
                })
            })
        })</script>

<script>
        //btnUpdate
        $(function () {

            $("#calendar").on("click", ".fc-today", function () {
                var userId = $(this).attr("data-id");
                 var addGuestFirstName = $("#AddGuestFirstNameText").val();
                var addGuestLastName = $("#AddGuestLastNameText").val();
                var addGuestContactNumber = $("#AddGuestContactNumberText").val();
                var addGuestNumberOfGuest = $("#AddGuestNumberOfGuestText").val();
                var addGuestNumberOfNight = $("#AddGuestNumberOfNightText").val();
                var htmlContent = `<div class="container">
<div class="row">
<div class="col-md-6">
<input type="tect" id="AddGuestFirstNameText" placeholder="First Name"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestLastNameText" placeholder="Last Name"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestContactNumberText" placeholder="Contact Number"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestNumberOfGuestText" placeholder="Number Of Guest"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestNumberOfNightText" placeholder="Number Of Night"/>
<div>
</div>`
                Swal.fire({
                    title: 'Guest',
                    html: htmlContent,
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText: 'Submit',
                    cancelButtonText: 'Cancel',
                }).then((result) => {
                    if (result.value) {
                        addGuestFirstName = $("body").find("#AddGuestFirstNameText").val();
                        addGuestLastName = $("body").find("#AddGuestLastNameText").val();
                        addGuestContactNumber = $("body").find("#AddGuestContactNumberText").val();
                        addGuestNumberOfGuest = $("body").find("#AddGuestNumberOfGuestText").val();
                        addGuestNumberOfNight = $("body").find("#AddGuestNumberOfNightText").val();
                        addGuest(addGuestFirstName, addGuestLastName, addGuestContactNumber, addGuestNumberOfGuest, addGuestNumberOfNight);
                    } else if (
                        result.dismiss === Swal.dismissReason.cancel
                    ) {
                        Swal.fire(
                            'Cancelled',
                            '',
                            'error'
                        )
                    }
                })
            });

            $("#calendar").on("click", ".fc-future", function () {
                var userId = $(this).attr("data-id");
                 var addGuestFirstName = $("#AddGuestFirstNameText").val();
                var addGuestLastName = $("#AddGuestLastNameText").val();
                var addGuestContactNumber = $("#AddGuestContactNumberText").val();
                var addGuestNumberOfGuest = $("#AddGuestNumberOfGuestText").val();
                var addGuestNumberOfNight = $("#AddGuestNumberOfNightText").val();
                var htmlContent = `<div class="container">
<div class="row">
<div class="col-md-6">
<input type="tect" id="AddGuestFirstNameText" placeholder="First Name"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestLastNameText" placeholder="Last Name"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestContactNumberText" placeholder="Contact Number"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestNumberOfGuestText" placeholder="Number Of Guest"/>
<div>
<div class="col-md-6">
<input type="tect" id="AddGuestNumberOfNightText" placeholder="Number Of Night"/>
<div>
</div>`
                Swal.fire({
                    title: 'Guest',
                    html: htmlContent,
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText: 'Submit',
                    cancelButtonText: 'Cancel',
                }).then((result) => {
                    if (result.value) {
                        addGuestFirstName = $("body").find("#AddGuestFirstNameText").val();
                        addGuestLastName = $("body").find("#AddGuestLastNameText").val();
                        addGuestContactNumber = $("body").find("#AddGuestContactNumberText").val();
                        addGuestNumberOfGuest = $("body").find("#AddGuestNumberOfGuestText").val();
                        addGuestNumberOfNight = $("body").find("#AddGuestNumberOfNightText").val();
                        addGuest(addGuestFirstName, addGuestLastName, addGuestContactNumber, addGuestNumberOfGuest, addGuestNumberOfNight);
                    } else if (
                        result.dismiss === Swal.dismissReason.cancel
                    ) {
                        Swal.fire(
                            'Cancelled',
                            '',
                            'error'
                        )
                    }
                })
            });

            function addGuest(addGuestFirstName, addGuestLastName, addGuestContactNumber, addGuestNumberOfGuest, addGuestNumberOfNight) {
                $.ajax({
                    url: "@Html.Raw(Url.Action("AddGuest", "Guest"))",
                    Type: "post",
                    data: {
                        firstName: addGuestFirstName,
                        lastName: addGuestLastName,
                        contactNumber: addGuestContactNumber,
                        numberOfGuest: addGuestNumberOfGuest,
                        numberOfNight: addGuestNumberOfNight
                    },
                    success: function (data) {
                        console.log(data);
                        Swal.fire(
                            'Submitted',
                            'Your file has been submitted.',
                            'success'
                        );
                    }
                });
            }
        });
    </script>

            @*$("#calendar").on("click", ".fc-future", function () {
                var userId = $(this).attr("data-id");
                Swal.mixin({
                    input: 'text',
                    confirmButtonText: 'Next &rarr;',
                    showCancelButton: true,
                    progressSteps: ['1', '2', '3', '4']
                }).queue([
                    {
                        title: 'Number of night/s',
                        text: 'get date',
                        input: 'select',
                        inputOptions: {
                            1: '1',
                            2: '2',
                            3: '3',
                            4: '4',
                            5: '5',
                            6: '6',
                            7: '7',
                            8: '8',
                            9: '9',
                            10: '10'
                        },
                    },
                    {
                        title: 'Number of head/s',
                        type: 'question',
                        input: 'range',
                        inputAttributes: {
                            min: 1,
                            max: 12,
                            step: 1
                        },
                        inputValue: 1
                    },
                    {
                        title: 'Full name',
                        text: ''
                    },
                    'Contact number'
                ]).then((result) => {
                    if (result.value) {
                        const answers = JSON.stringify(result.value)
                        Swal.fire({
                            title: 'You are succesfully booked!'
                        })
                        saveReservation(answers);
                    }
                })
            });
            function saveReservation($data) {
                //ajax here
              //alert($data);
                $.ajax({
                    url: "@Html.Raw(Url.Action("AddGuest", "Guest"))",
                    Type: "post",
                    data: {
                        //firstName: $data,
                        //lastName: $data,
                        contactNumber: $data
                    },
                    success: function (data) {
                        console, log(data);
                        Swal.fire(
                            'Submitted',
                            'Your file has been submitted.',
                            'success'
                        );
                    }
                });
            }
        });
</script>*@